@model YetAnotherDemo.Models.AdminViewModel

<form asp-controller="Admin" asp-action="UpdateAccountLockStatus" method="post" style="margin-top: 2rem;">
    <div class="row">
        <div class="col">
            @Html.EditorFor(m => m.AccountStatus.AccountName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account name" } })
            @Html.ValidationMessageFor(m => m.AccountStatus.AccountName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div style="margin-top: 1rem;">
        <button type="submit" class="btn btn-primary mb-2">Update account status</button>
    </div>


    <div>
        <h6 class="text-danger" style="margin-top: 1rem;">@ViewBag.Message3</h6>
    </div>
</form>
