@model YetAnotherDemo.Controllers.BlobViewModel

@{
    ViewData["Title"] = "Basketball";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron">
    <h1 class="display-3" style="margin-top: 1rem;">Basketball</h1>

    <form asp-controller="Basketball" asp-action="AddFile" method="post">



    </form>

</div>

